NEXT_PUBLIC_GOOGLE_MAPS_API_KEY="AIzaSyCbcYMbdwfcfrGFPQKs3qwKCNR0o53baJ0"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
DATABASE_URL="postgresql://usuario:password@host/neondb?sslmode=require"
# Vercel/Neon puede crear variables con prefijo, por ejemplo:
# michofererp_DATABASE_URL="postgresql://usuario:password@host/neondb?sslmode=require"
